<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Prácticas</h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Asignatura: {{subject.name}}
    </h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Practica: {{activity.name}}
    </h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Fecha Limite: {{date}}
    </h5>

    <div *ngIf="subjectNotFound" class="alert alert-danger" role="alert">Asignatura o Grupo no encontrado</div>
    <div *ngIf="!subjectNotFound">
      <ul>
        <li *ngFor="let user of users" class="container-space">
          <span class="item">{{user.name}}</span>
          <span class="item">Nota: {{seeUser(user).mark}}</span>
          <button class="btn btn-info mr-1 item" (click)="download(user)">Descargar</button>
          <input type="number" class="form-control item" [(ngModel)]="seeUser(user).mark" placeholder="Puntuacion">
          <button class="btn btn-info mr-1 item" (click)="mark(user, seeUser(user).mark)"
                  [disabled]="seeUser(user).mark == null">Puntuar
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="errorDelete" class="alert alert-danger" role="alert">
    Error al borrar la practica
  </div>

</div>
