<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Prácticas</h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Asignatura: {{subject.name}}
    </h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Practica: {{activity.name}}
    </h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Fecha Limite: {{date}}
    </h5>

    <div *ngIf="subjectNotFound" class="alert alert-danger" role="alert">Asignatura o Grupo no encontrado</div>
    <div *ngIf="!subjectNotFound">
        <span *ngFor="let user of users" class="card margin container-space">
          <span class="item"><strong>Nombre: </strong>{{user.name}}</span>
          <span class="item"><strong>Nota: </strong>{{seeUser(user).mark}}</span>
          <span class="container-row">
            <button class="btn btn-info mr-1 item" (click)="download(user)">Descargar</button>
            <input type="number" class="form-control item mark" [(ngModel)]="seeUser(user).mark"
                           placeholder="Puntuacion">
            <button class="btn btn-info mr-1 item" (click)="mark(user, seeUser(user).mark)"
                    [disabled]="seeUser(user).mark == null">Puntuar
            </button>
          </span>
        </span>
    </div>
  </div>
  <div *ngIf="errorDelete" class="alert alert-danger" role="alert">
    Error al borrar la practica
  </div>

  <div *ngIf="errorFile" class="alert alert-danger" role="alert">
    Practica no encontrada
  </div>

</div>
