<div class="card container margin">
  <div class="card-body">
    <div class="container">
      <button class="btn btn-primary item" (click)="loadStudentGroup()">cargar grupo alumnos</button>
      <button class="btn btn-primary item" (click)="loadUser()">cargar usuario</button>
      <button class="btn btn-primary item" (click)="updateUser()">actualizar usuario</button>
      <button class="btn btn-primary item" (click)="loadSubject()">cargar asignatura</button>
      <button class="btn btn-primary item" (click)="updateSubject()">actualizar asignatura</button>
      <button class="btn btn-primary item" (click)="updateTeacher()">asignar profesor</button>
    </div>
  </div>
</div>
