<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Prácticas</h5>
    <h5 *ngIf="!subjectNotFound && showSubjectData" class="card-title text-center">
      Asignatura: {{subject.name}}
      Grupo: {{group[0].name}}
    </h5>
    <div *ngIf="subjectNotFound" class="alert alert-danger" role="alert">Asignatura o Grupo no encontrado</div>
    <div *ngIf="!subjectNotFound">
        <span *ngFor="let activity of activities" class="card margin container-space">
          <span class="item"><strong>Nombre: </strong>{{activity.name}}</span>
          <span class="container-row">
            <button class="btn btn-info mr-1 item" (click)="seeActivity(activity.activityId)">Ver Práctica</button>
            <button class="btn btn-danger mr-1 item" (click)="deleteActivity(activity.activityId)">Borrar</button>
          </span>
        </span>
    </div>
  </div>
  <div *ngIf="errorDelete" class="alert alert-danger" role="alert">
    Error al borrar la practica
  </div>

</div>
