<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Actualizar Usuario</h5>
    <form class="container" [formGroup]="findUserForm" (ngSubmit)="onSubmitFindUser()">
      <input type="text" class="form-control item" formControlName="ident" placeholder="ident" [ngbTypeahead]="search"/>
      <button class="btn btn-primary mr-1 item"  [disabled]="findUserForm.invalid">Buscar</button>
      <div *ngIf="showNotFound" class="alert alert-danger" role="alert">
        usuario no encontrado
      </div>
    </form>
    <form *ngIf="showLoadUserForm" class="container card-text" [formGroup]="loadUserForm" #form="ngForm" (ngSubmit)="onSubmitLoadUser(type)">
      <input type="text"  formControlName="ident" class="form-control item" placeholder="id"/>
      <input type="text"  formControlName="name" class="form-control item" placeholder="nombre"/>
      <input type="text"  formControlName="surnames" class="form-control item" placeholder="apellidos"/>
      <input type="password" formControlName="password" class="form-control item" placeholder="password"/>
      <input type="email"  formControlName="email" class="form-control item" placeholder="email"/>
      <div *ngFor="let role of loadUserForm.controls.roles.controls; let i=index;">
        <input type="checkbox" [formControl]="role">
        {{roles[i].name}}
      </div>
      <div *ngIf="alert" class="alert alert-danger" role="alert">
        Introduce datos correctos
      </div>
      <div class="container-row">
        <button class="btn btn-primary mr-1 item" [disabled]="loadUserForm.invalid" (click)="onSubmitLoadUser('update')">Actualizar</button>
        <button class="btn btn-danger mr-1 item" [disabled]="loadUserForm.invalid" (click)="onSubmitLoadUser('delete')">Borrar</button>
      </div>
    </form>
    <div *ngIf="save" class="alert alert-success" role="dialog">
      Usuario Guardado
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      Introduce datos correctos
    </div>
    <div *ngIf="showDelete" class="alert alert-success" role="dialog">
      Usuario Borrado
    </div>
    <div *ngIf="errorDelete" class="alert alert-danger" role="alert">
      Error al borrar usuario
    </div>
  </div>
</div>

