<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Cargar Usuario</h5>
    <form class="container card-text" [formGroup]="loadUserForm" #form="ngForm" (ngSubmit)="onSubmit()">
      <input type="text"  formControlName="id_user" class="form-control item" placeholder="id"/>
      <input type="text"  formControlName="name" class="form-control item" placeholder="nombre"/>
      <input type="text"  formControlName="surnames" class="form-control item" placeholder="apellidos"/>
      <input type="password" formControlName="password" class="form-control item" placeholder="password"/>
      <input type="email"  formControlName="email" class="form-control item" placeholder="email"/>
      <div *ngFor="let role of loadUserForm.controls.roles.controls; let i=index;">
        <input type="checkbox" [formControl]="role">
        {{roles[i].name}}
      </div>
      <div *ngIf="alert" class="alert alert-danger" role="alert">
        Introduce datos correctos
      </div>
      <button class="btn btn-primary mr-1 item" [disabled]="loadUserForm.invalid">Load</button>
    </form>
    <div *ngIf="save" class="alert alert-success" role="dialog">
      Usuario Guardado
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      Introduce datos correctos
    </div>
  </div>
</div>

