<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Asignaturas</h5>
    <div *ngIf="subjectNotFound" class="alert alert-danger" role="alert">Asignatura o Grupo no encontrado</div>
    <div *ngIf="!subjectNotFound">
        <span *ngFor="let subject of subjects" class="card margin container-space">
          <span class="item"><strong>Nombre: </strong>{{subject.name}}</span>
          <span class="item"><strong>Año: </strong>{{subject.year}}</span>
          <button class="btn btn-info mr-1 item" (click)="subjectDetail(subject.name, subject.year)">Ver</button>
        </span>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    Error
  </div>

</div>
