<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Asignar Profesor</h5>
    <form class="container" [formGroup]="findSubjectForm" (ngSubmit)="onSubmitFindSubject()">
      <input type="text"  formControlName="name" class="form-control item" placeholder="nombre de la asignatura"/>
      <input type="number" min="1970" max="2900" formControlName="year" class="form-control item" placeholder="año"/>
      <button class="btn btn-primary mr-1 item"  [disabled]="findSubjectForm.invalid">Buscar</button>
      <div *ngIf="showNotFound" class="alert alert-danger" role="alert">
        Asignatura no encontrada
      </div>
    </form>
    <form *ngIf="showUpdateTeacherForm" class="container card-text" [formGroup]="updateTeacherForm">
      <div class="card container margin">
        <div class="card-body">
          <h5 class="card-title text-center">Profesores</h5>
          <ul>
            <li *ngFor="let teacher of teachers" class="container-space">
              <span class="item">{{teacher.ident}}</span>
              <button class="btn btn-danger mr-1 item" (click)="deleteTeacher(teacher.id_user)">Borrar</button>
            </li>
          </ul>
          <form class="container card-text" [formGroup]="updateTeacherForm" (ngSubmit)="onSubmitGroupForm()">
            <input type="text" class="form-control item" placeholder="profesor" formControlName="ident"/>
            <button class="btn btn-primary mr-1 item" [disabled]="updateTeacherForm.invalid">Añadir</button>
          </form>
        </div>
      </div>
      <div *ngIf="alert" class="alert alert-danger" role="alert">
        Introduce datos correctos
      </div>
    </form>
    <div *ngIf="save" class="alert alert-success" role="dialog">
      profesor guardado
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      Introduce datos correctos
    </div>
    <div *ngIf="showDelete" class="alert alert-success" role="dialog">
      Profesor Borrado
    </div>
    <div *ngIf="errorDelete" class="alert alert-danger" role="alert">
      Error al añadir profesor
    </div>
  </div>
</div>
