<div class="card container margin">
  <div class="card-body">
    <h5 class="card-title text-center">Asignar Profesor</h5>
    <form class="container" [formGroup]="findSubjectForm" (ngSubmit)="onSubmitFindSubject()">
      <input type="text"  formControlName="name" class="form-control item" placeholder="nombre de la asignatura"/>
      <input type="number" min="1970" max="2900" formControlName="year" class="form-control item" placeholder="año"/>
      <button class="btn btn-primary mr-1 item"  [disabled]="findSubjectForm.invalid">Buscar</button>
      <div *ngIf="showNotFound" class="alert alert-danger" role="alert">
        Asignatura no encontrada
      </div>
    </form>
    <form *ngIf="showUpdateTeacherForm" class="container card-text" [formGroup]="updateTeacherForm" #form="ngForm" (ngSubmit)="onSubmitLoadSubject(type)">
      <div class="card container margin">
        <div class="card-body">
          <h5 class="card-title text-center">Profesores</h5>
          <ul>
            <li *ngFor="let group of subject.groups" class="container-space">
              <span class="item">{{group.name}}</span>
              <button class="btn btn-danger mr-1 item" (click)="deleteGroup(group.name)">Borrar</button>
            </li>
          </ul>
          <form class="container card-text" [formGroup]="groupForm" (ngSubmit)="onSubmitGroupForm()">
            <input type="text"  formControlName="group" class="form-control item" placeholder="grupo"/>
            <button class="btn btn-primary mr-1 item"  [disabled]="groupForm.invalid">Añadir</button>
          </form>
        </div>
      </div>
      <div *ngIf="alert" class="alert alert-danger" role="alert">
        Introduce datos correctos
      </div>
      <div class="container-row">
        <button class="btn btn-primary mr-1 item" [disabled]="updateTeacherForm.invalid" (click)="onSubmitLoadSubject('update')">Actualizar</button>
        <button class="btn btn-danger mr-1 item" [disabled]="updateTeacherForm.invalid" (click)="onSubmitLoadSubject('delete')">Borrar</button>
      </div>
    </form>
    <div *ngIf="save" class="alert alert-success" role="dialog">
      Asignatura Guardada
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      Introduce datos correctos
    </div>
    <div *ngIf="showDelete" class="alert alert-success" role="dialog">
      Asignatura Borrada
    </div>
    <div *ngIf="errorDelete" class="alert alert-danger" role="alert">
      Error al borrar asignatura
    </div>
  </div>
</div>
